<ion-content padding>

  <ion-item class="top">
    <ion-label>Rest timer</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here!" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>

  <div class="progress-circle">
    <circle-progress (click)="startTime()"
      [percent]="percent"
      [maxPercent]="100"
      [radius]="radius"
      [showTitle]="false"  
      [showSubtitle]="false"
      [subtitleFontSize]="40"
      [showUnits]="false"
      [outerStrokeWidth]="16"
      [outerStrokeColor]="'#974d0'"
      [showZeroOuterStroke]="false"
      [backgroundStroke]="'#b4681b'"
      [backgroundStrokeWidth]="3"
      [outerStrokeGradient]="true"
      [outerStrokeGradientStopColor]="'#ac5702'"
      [showInnerStroke]="false"
    ></circle-progress>
  </div>

  <p>{{ elapsed.hours }}:{{ elapsed.minutes }}:{{ elapsed.seconds }}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTime()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>  
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTime()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>

  </ion-fab>

</ion-content>
